.copyright {
  display: flex;
  align-items: center;
}

.copyright__text {
  margin-right: 16px;
  color: #283645;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;

  @media (min-width: @desktop-width) {
    font-size: 18px;
  }
}
