.download {
  position: relative;
  background-color: #1d2631;
  margin: 0 auto;
  min-width: 320px;

  @media (min-width: @tablet-width) {
    width: 100%;
    height: 400px;
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-repeat: no-repeat;
  }

  @media (min-width: @desktop-width) {
    background-image: url("../img/bg-back-desktop@1x.jpg");
  }
}

.download__image {
  @media (min-width: @tablet-width) {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
  }
}

.download__wrapper {
  background-image: url("../img/bg-back-mobile@1x.jpg");

  @media (min-width: @tablet-width) {
    background-image: none;
  }
}

.download__title {
  color: #ffffff;
  font-size: 24px;
  font-weight: 300;
}

.download__button {
  border-radius: 30px;
  border: 3px solid #ffffff;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  text-decoration: none;
}

.download__list {
  .no-list();
  display: flex;
  justify-content: center;
  align-items: center;
}

.download__description {
  color: #ffffff;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
}
