.download {
  background-color: #1d2631;
}

.download__wrapper {
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
}

.download__title {
  color: #ffffff;
  font-size: 24px;
  font-weight: 300;
}

.download__button {
  border: 3px solid #ffffff;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
}

.download__list {
  .no-list();
}

.download__description {
  color: #ffffff;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
}
