.effects {
  display: none;
  line-height: 10px;

  @media (min-width: @tablet-width) {
    display: flex;
  }

  @media (min-width: @desktop-width) {
    background-color: #f2f2f2;
  }
}

.effects__wrapper {
  display: flex;
  flex-direction: column;
}

.effects__slogan {
  color: #000000;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
}

.effects__text {
  line-height: 24px;
}

.effects__link {
  color: #d22856;
  line-height: 24px;
}
