.effects {
  display: none;
  line-height: 10px;

  @media (min-width: @tablet-width) {
    display: flex;
    max-width: 700px;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #f2f2f2;
  }
}

.effects__img {
  @media (min-width: @tablet-width) {
    margin-top: 43px;
    margin-left: 40px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 0;
    margin-left: 131px;
  }
}

.effects__wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    margin-top: 85px;
    margin-left: 40px;
    width: 295px;
  }

  @media (min-width: @desktop-width) {
    width: 525px;
    margin-top: 87px;
    margin-left: 67px;
  }
}

.effects__slogan {
  color: #000000;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;

  @media (min-width: @tablet-width) {
    text-align: left;
  }
}

.effects__text {
  line-height: 24px;

  @media (min-width: @desktop-width) {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 36px;
  }
}

.effects__link {
  color: #d22856;
  line-height: 24px;

  @media (min-width: @desktop-width) {
    font-size: 18px;
    line-height: 30px;
  }
}
