.effects {
  display: none;
  line-height: 10px;

  @media (min-width: @tablet-width) {
    display: flex;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    margin: 0 auto;
    padding-bottom: 62px;
    background-color: #f2f2f2;
  }
}

.effects__img {
  @media (min-width: @tablet-width) {
    margin-top: 43px;
    margin-left: 40px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 37px;
    margin-left: 10px;
  }
}

.effects__wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    margin-top: 87px;
    margin-left: 71px;
  }

  @media (min-width: @desktop-width) {
    width: 530px;
    margin-top: 122px;
    margin-left: 67px;
  }
}

.effects__slogan {
  color: #000000;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;

  @media (min-width: @tablet-width) {
    max-width: 160px;
    text-align: left;
  }

  @media (min-width: @desktop-width) {
    max-width: 300px;
    text-align: left;
  }
}

.effects__text {
  margin-bottom: 9px;
  margin-top: 12px;
  line-height: 24px;

  @media (min-width: @desktop-width) {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 32px;
    margin-top: 21px;
  }
}

.effects__link {
  color: #d22856;
  line-height: 24px;

  @media (min-width: @desktop-width) {
    font-size: 18px;
    line-height: 30px;
  }
}
