.gallery-item {
  margin-bottom: 20px;
  color: #283645;
  font-size: 14px;
  line-height: 24px;
  text-align: center;

  @media (min-width: @tablet-width) {
    max-width: 300px;

    &--panorama {
      flex-grow: 1;
      width: 100%;
      max-width: 100%;
      margin-right: 0;
      margin-left: 0;
      padding-bottom: 0;
    }
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 53px;

    &--panorama {
      flex-grow: 1;
      width: 1200px;
      margin: 0;
    }
  }
}

.gallery-item__info {
  margin-top: -7px;
  padding-bottom: 20px;
  background-color: #f2f2f2;
  text-align: left;
  max-width: 280px;

  &--panorama {
    margin: 0 auto;
  }

  @media (min-width: @tablet-width) {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: -7px 0 0;
    min-height: 155px;
    max-width: 300px;

    &--panorama {
      min-height: 121px;
      margin: -7px auto;
      margin-bottom: 24px;
      max-width: 620px;
    }
  }

  @media (min-width: @desktop-width) {
    &--panorama {
      min-height: 96px;
      margin: 0 auto;
      margin-top: -7px;
      max-width: 940px;
      padding-bottom: 0;
      margin-bottom: 52px;
    }
  }
}

.gallery__item-photo {
  position: relative;
}

.gallery__item-marker {
  position: absolute;
  right: 20px;
  top: 0;
  padding: 5px 20px;
  font-size: 12px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  background: #d22856;

  @media (min-width: @tablet-width) {
    right: 20px;
    top: 58px;
  }

  @media (min-width: @desktop-width) {
    right: 130px;
    top: 57px;
  }
}

.gallery-item__author {
  padding-top: 17px;
  padding-left: 18px;

  @media (min-width: @tablet-width) {
    padding-top: 23px;
    padding-left: 28px;
  }
}

.gallery-item__message {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 17px;

  @media (min-width: @tablet-width) {
    padding-left: 28px;
    padding-right: 28px;
  }
}

.gallery-item__name {
  font-weight: 700;
}

.gallery-item__time {
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
}

.gallery-item__like-block {
  padding-left: 18px;
  padding-top: 10px;
  color: #d22856;
  font-size: 12px;
  font-weight: 400;

  @media (min-width: @tablet-width) {
    display: flex;
    align-items: center;
    margin-top: auto;

    &--panorama {
      @media (min-width: @tablet-width) {
        position: absolute;
        right: 0;
        top: 16px;
      }

      @media (min-width: @desktop-width) {
        top: 18px;
      }
    }
  }
}

.gallery-item__like-text {
  padding-left: 16px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    padding-left: 11px;
  }
}

.gallery-item__like-count {
  @media (min-width: @tablet-width) {
    order: 2;
  }
}

.gallery-item__like-heart {
  svg {
    fill: #d22856;
  }

  @media (min-width: @tablet-width) {
    order: 3;
    margin-left: auto;
    margin-right: 31px;

    &--panorama {
      @media (min-width: @tablet-width) {
        padding-left: 16px;
      }

      @media (min-width: @desktop-width) {
        padding-left: 18px;
      }
    }
  }
}
