.nav-list {
  min-width: 320px;
  margin: 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    min-width: 100%;
  }
}

.nav-list__item {
  .no-list();
}

.nav-list__link {
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}
