.offers {
  margin: 0 auto;
  background-color: #f2f2f2;
  position: relative;
  z-index: 1;

  @media (min-width: @tablet-width) {
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    margin: 0 auto;
  }
}

.offers__wrapper {
  margin-top: 85px;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 35px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: column-reverse;
  }
}

.offers__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
}

.offers__title {
  margin: 0 0 27px;
  color: #283645;
  font-size: 24px;
  font-weight: 300;
  text-align: center;

  @media (min-width: @tablet-width) {
    font-size: 40px;
    margin-bottom: 13px;

    &:nth-child(even) {
      width: 400px;
      line-height: 1.1;
    }
  }

  @media (min-width: @desktop-width) {
    font-size: 50px;

    &:nth-child(even) {
      width: 500px;
      margin: 0 auto;
      line-height: 1.2;
    }
  }
}

.offers__img {
  display: flex;
  margin-top: 10px;
  margin-left: 82px;

  &-none {
    display: none;
  }

  @media (min-width: @tablet-width) {
    margin-top: 8px;
    margin-left: 33px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 39px;
    margin-left: 0;

    &-none {
      display: block;
      margin-right: 28px;
    }
  }
}
