.page-content {
  min-width: 320px;
  margin: 0 auto;
  background-color: #ffffff;
  color: #283645;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
}

.page-content__description {
  padding-left: 37px;
  padding-right: 40px;
  margin-top: 45px;
  text-align: center;

  &--view {
    display: none;

    @media (min-width: @tablet-width) {
      display: block;
      font-size: 18px;
      margin: 0;
    }
  }

  &--form {
    padding: 0;

    @media (min-width: @tablet-width) {
      margin-top: 90px;
      padding-left: 35px;
      padding-right: 35px;
      margin-bottom: 0;
      font-size: 18px;
    }
  }

  &--gallery {
    @media (min-width: @tablet-width) {
      margin-top: 90px;
      padding-left: 91px;
      padding-right: 91px;
      font-size: 18px;
    }
  }

  @media (min-width: @desktop-width) {
    max-width: 571px;
    margin: 0 auto;
    margin-top: 93px;
    padding: 0;
  }
}
