.price {
  margin: 0 auto;
  background-color: #f2f2f2;

  @media (min-width: @tablet-width) {
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    position: relative;
    margin: 0 auto;
    margin-top: 160px;
  }
}
