.userpost-header {
  width: 100%;
  background-color: #ffffff;
  color: #283645;
  font-size: 14px;
  line-height: 30px;
}

.userpost-header__title {
  text-align: center;
}

.userpost-header__text {
  text-align: center;
}
