.userpost {
  background-color: #f2f2f2;
  height: 935px;
  /* Для первой части задания. Для удобства пикселя. Потом сделаю нормально. */
  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.userpost__wrapper {
  text-align: center;
}
